body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 60%;
    height: auto;
    background-color: #F2F5F5;
    margin-left: 20%;
    margin-top: 70px;
}
#main_container{
    display: flex;
}
.header{
    color: blue;
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
section{
    width: 50%;
    margin: 0 10px 0 10px;
}
.section1{
    flex: 1;
    /*float: left;*/
}
h4{
    text-transform: uppercase;
    color: grey;
}
h4 span{
    color: blue !important;
}
.input_class{
    width: 80%;
    border-color: black;
    height:28px;
}
*::-webkit-input-placeholder {
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
*:-moz-placeholder {
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
*::-moz-placeholder {
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
*:-ms-input-placeholder {
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
.submit{
    color: blue;
    border-color: blue;
    margin-left: 207px;
    width: 69px;
}
.section2{
    background-color: #272756;
    height: 271px;
    margin-right: 18px;
}
.h4_section2{
    color: white;
    margin-top: 15px;
    margin-left: 32px;
}
.form2>.input_class{
    margin-left: 32px;
}
.remember{
    color: white;
}
.input_remember{
    margin-left: 32px;
}
.form2_submit{
    margin-left: 100px;
    color: white;
    border-color: white;
    width: 69px;
    background-color: #272756;
}
.form2 a{
    color: white;
    margin-left: 237px;
    margin-top: 10px;
    font-size: 13px;
}